<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JPSHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6687A10B1E83057F004554AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6687A11A1E830582004554AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6687A1251E830582004554AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A848AF1F4FFF6600DFADAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
